@{
	ViewData["Title"] = "Index";
}
<div class="search-container">
	<form>
		<input type="text" placeholder="Search...">
		<select class="search-select">
			<option value="movies">Movies</option>
			<option value="actors">Actors</option>
		</select>
		<select class="search-select">
			<option value="">All Genres</option>
			<option value="28">Action</option>
			<option value="12">Adventure</option>
			<option value="16">Animation</option>
			<option value="35">Comedy</option>
			<option value="80">Crime</option>
			<option value="99">Documentary</option>
			<option value="18">Drama</option>
			<option value="10751">Family</option>
			<option value="14">Fantasy</option>
			<option value="36">History</option>
			<option value="27">Horror</option>
			<option value="10402">Music</option>
			<option value="9648">Mystery</option>
			<option value="10749">Romance</option>
			<option value="878">Science Fiction</option>
			<option value="53">Thriller</option>
			<option value="10752">War</option>
			<option value="37">Western</option>
		</select>
		<button type="submit">Search</button>
	</form>

</div>
<section class="movies">
	<h2>Now Showing</h2>
	<div class="movie-container">
		<div class="movie">
			<img src="~/Images/joker-movie-poster-sm.jpg" alt="Movie 1" width=150px height=200px>
			<div class="overlay">
				<h3>Joker</h3>
				<p>Crime,Drama,Thriller</p>
				<ul>
					<li class="time">12:00 AM</li>
					<li class="time">12:00 PM</li>
					<li class="time">09:00 PM</li>
				</ul>
				<a asp-controller="movies" asp-action="Booking" class="btn">Book Now</a>
			</div>
		</div>
		<div class="movie">
			<img src="~/Images/avengers-endgame-movie-poster-sm.jpg" alt="Movie 2" width=150px height=200px>
			<div class="overlay">
				<h3>Avengers Endgame</h3>
				<p>Action, Adventure, Drama,Sci-Fic</p>
				<ul>
					<li class="time">12:00 AM</li>
					<li class="time">09:00 AM</li>
					<li class="time">06:00 PM</li>
				</ul>
				<a asp-controller="movies" asp-action="Booking" class="btn">Book Now</a>
			</div>
		</div>
		<div class="movie">
			<img src="~/Images/shazam-movie-poster.jpg" alt="Movie 3" width=150px height=200px>
			<div class="overlay">
				<h3>Shazam</h3>
				<p>Action, Sci-Fi,Adventure,Comedy</p>
				<ul>
					<li class="time">09:00 AM</li>
					<li class="time">12:00 PM</li>
					<li class="time">06:00 PM</li>
				</ul>
				<a asp-controller="movies" asp-action="Booking" class="btn">Book Now</a>
			</div>
		</div>
		<div class="movie-container">
			<div class="movie">
				<img src="~/Images/spider-man-far-from-home-international-movie-poster-md.jpg" alt="Movie 4" width=150px height=200px>
				<div class="overlay">
					<h3>Spider-Man Far From Home</h3>
					<p>Action, Sci-Fi,Adventure,Comedy</p>
					<ul>
						<li class="time">12:00 AM</li>
						<li class="time">03:00 PM</li>
						<li class="time">09:00 PM</li>
					</ul>
					<a asp-controller="movies" asp-action="Booking" class="btn">Book Now</a>
				</div>
			</div>
			<div class="movie">
				<img src="~/Images/10366206.jpg" alt="Movie 5" width=150px height=200px>
				<div class="overlay">
					<h3>John Wick 4</h3>
					<p>Action, Sci-Fi,Adventure,Comedy</p>
					<ul>
						<li class="time">09:00 AM</li>
						<li class="time">03:00 PM</li>
						<li class="time">06:00 PM</li>
					</ul>
					<a asp-controller="movies" asp-action="Booking" class="btn">Book Now</a>
				</div>
			</div>
			<div class="movie">
				<img src="~/Images/13375076.jpg" alt="Movie 6" width=150px height=200px>
				<div class="overlay">
					<h3>The Popes Exorcist</h3>
					<p>Action, Sci-Fi,Adventure,Comedy</p>
					<ul>
						<li class="time">12:00 PM</li>
						<li class="time">03:00 PM</li>
						<li class="time">09:00 PM</li>
					</ul>
					<a asp-controller="movies" asp-action="Booking" class="btn">Book Now</a>
				</div>
			</div>
		</div>
	</div>
</section>


