@{
	ViewData["Title"] = "Index";
}
<section class="banner">
	<h1>Book your Movies Ticket Now!</h1>
	<p>Don't miss out on the latest movies. Book your cinema ticket online today!</p>
	<a href="#" class="btn">Book Now</a>
</section>

<section class="movies">
	<h2>Now Showing</h2>
	<div class="movie-container">
		<div class="movie">
			<img src="~/Images/joker-movie-poster-sm.jpg" alt="Movie 1" width=150px height=200px>
			<div class="overlay">
				<h3>Joker</h3>
				<p>Crime,Drama,Thriller</p>
				<a href="#" class="btn">Book Now</a>
			</div>
		</div>
		<div class="movie">
			<img src="~/Images/avengers-endgame-movie-poster-sm.jpg" alt="Movie 2" width=150px height=200px>
			<div class="overlay">
				<h3>Avengers Endgame</h3>
				<p>Action, Adventure, Drama,Sci-Fic</p>
				<a href="#" class="btn">Book Now</a>
			</div>
		</div>
		<div class="movie">
			<img src="~/Images/shazam-movie-poster.jpg" alt="Movie 3" width=150px height=200px>
			<div class="overlay">
				<h3>Shazam</h3>
				<p>Action, Sci-Fi,Adventure,Comedy</p>
				<a href="#" class="btn">Book Now</a>
			</div>
		</div>
		<div class="movie-container">
			<div class="movie">
				<img src="~/Images/spider-man-far-from-home-international-movie-poster-md.jpg" alt="Movie 4" width=150px height=200px>
				<div class="overlay">
					<h3>Spider-Man Far From Home</h3>
					<p>Action, Sci-Fi,Adventure,Comedy</p>
					<a href="#" class="btn">Book Now</a>
				</div>
			</div>
			<div class="movie">
				<img src="~/Images/10366206.jpg" alt="Movie 5" width=150px height=200px>
				<div class="overlay">
					<h3>John Wick 4</h3>
					<p>Action, Sci-Fi,Adventure,Comedy</p>
					<a href="#" class="btn">Book Now</a>
				</div>
			</div>
			<div class="movie">
				<img src="~/Images/13375076.jpg" alt="Movie 6" width=150px height=200px>
				<div class="overlay">
					<h3>The Popes Exorcist</h3>
					<p>Action, Sci-Fi,Adventure,Comedy</p>
					<a href="#" class="btn">Book Now</a>
				</div>
			</div>
		</div>
	</div>
</section>
