@{
	ViewData["Title"] = "Index";
}
<section class="banner">
	<h1>Book your Movies Ticket Now!</h1>
	<p>Don't miss out on the latest movies. Book your cinema ticket online today!</p>
	<a asp-controller="movies" asp-action="index" class="btn">Book Now</a>
</section>

